$menuBackground: #dedddd;
$mainColor: #222f5c;
// #2f3335;
$mainFont: 'Arial', sans-serif;
$tM: 'TitilliumText22LMedium', sans-serif;
$tB: 'TitilliumText22LBold', sans-serif;
$tR: 'TitilliumText22LRegular', sans-serif;
$tL: 'TitilliumText22LLight', sans-serif;
$tT: 'TitilliumText22LThin', sans-serif;
$pict: 'pictos_ripregular', sans-serif;
$sonus: 'SonusLight', sans-serif;
$bRed: border solid 1px red;
$blueLink: #222f5c;
// #11558f;
$grayLink: #3b3b3b;
$gray: #dadadb;
$borderColor: #dbdbdc;
$titleColor: #2f3335;
$lightGray: #868686;
$darkGray: #4d4e53;
$orange: #e77e1b;
$green: #21a126;

section.header {
  position:relative;
}
section.header nav a{
  display:block;
}
.logo {
  //position: relative;
  left:0; top:0;
  width: 4em !important;
  float: left;
}
.langMenu{
  width:auto;
  float:right;
  a{
    float:left;
    clear:none;
  }
}
.srchBttn{
  width:20px;
  height:20px;background: red;
  background-position: 0 0;
}
.mainMenu{
  margin-top:1em;
  a{
    padding-top:1em;
    padding-bottom:1em;
    background:$mainColor;
  }
  a:first-child{
    padding-bottom:.65em;
    padding-top:.6em;
  }
}
h1, h2, h3, h4, h5, h6, p{
  display:block!important;
}
p{
  float:left; width:100%;
}
.productGallery{
  float:left;
  width:700px;
}
.productInfo{
  width:45%;
  float:left;
}
.general_page{
  width:110%!important;
  float:left;
}
.partnerInfo{
  width: 880px!important;
  margin-bottom:3em!important;
}
.productListing{
 clear:left;
  width:880px;
}
.separator-down{
  float:left;width:880%!important;
  clear:both!important;
}

.categories{
  float:left;
  clear:left;
  li{
    display:block;
    display:block;
    width:200px!important;
    input{
      display:inline;
    }
  }
}
.noSearchInfo{

}
.slide{
  float:left;
  p{
    float:right;
    width:400px;
    margin-right:55px;
  }
  p.price{
    float:left;
  }

}