/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> 
 */

@import "compass/reset";
@import "compass/css3";
@import "base.scss";
@import "skeleton.scss";
@import "fonts/fonts.css";

$menuBackground: #dedddd;
$mainColor: #222f5c;
// #2f3335;
$mainFont: 'Arial', sans-serif;
$tM: 'TitilliumText22LMedium', sans-serif;
$tB: 'TitilliumText22LBold', sans-serif;
$tR: 'TitilliumText22LRegular', sans-serif;
$tL: 'TitilliumText22LLight', sans-serif;
$tT: 'TitilliumText22LThin', sans-serif;
$pict: 'pictos_ripregular', sans-serif;
$sonus: 'SonusLight', sans-serif;
$bRed: border solid 1px red;
$blueLink: #222f5c;
// #11558f;
$grayLink: #3b3b3b;
$gray: #dadadb;
$borderColor: #dbdbdc;
$titleColor: #2f3335;
$lightGray: #868686;
$darkGray: #4d4e53;
$orange: #e77e1b;
$green: #21a126;

body {
  font: .85em $mainFont;
  background: #f2f2f2;
}

.container {
  background: #fff;
  @include single-box-shadow(#ccc, 0, 0, .8em, 0, false);
  @include border-bottom-left-radius(.4em);
  @include border-bottom-right-radius(.4em);
  margin-bottom: 1em;
}

a {
  color: $blueLink;
  text-decoration: none;
}

a:hover {
  color: $blueLink;
  background: transparent;
}

a:visited {
  color: darker(20%);
}

h1, h2, h3, h4 {
  color: $titleColor;
  font: 2.5em $sonus;
}

h4 {
  font: 1.8em $mainFont;
}

[data-icon]:before {
  font-family: $pict !important;
  font-size: 1.2em !important;
  content: attr(data-icon);
}

.header {
  color: $mainColor;
  position: relative;
}

.logo {
  position: absolute;
  width: 4em !important;
  float: left;
}

.langMenu, .subMenu {
  float: right;
  clear: right;
}

.langMenu {
  padding: .4em 0;
  margin-right: 1em;
  margin-top: .5em;
  font: 1em $sonus;
  a {
    font-weight: 700;
    color: $blueLink;
    text-decoration: none;
    font-family: $sonus;
    img {
      margin-left: 1em;
      position: relatative;
      top: 2em;
    }
  }
}

.brdRight {
  margin-rigth: 1.5em;
  border-right: solid 1px #ddd;
  padding-right: .8em;
  padding-left: .5em;
}

.subMenu {
  min-width: 51%;
  padding-right: .3em;
  font: 1em $sonus;
  a {
    color: $blueLink;
    text-decoration: none;
    border-right: solid 1px #ddd;
    float: left;
    margin-right: .4em;
    padding-left: .3em;
    padding-right: .5em;
    margin-top: .3em;
    padding-top: .2em;
    text-transform: uppercase;
  }
  a:last-child {
    margin-right: 0;
    border-right: none !important;
  }
  a:hover {
    text-decoration: underline;
  }
  form {
    float: left;
    position: relative;
    margin-left: .3em;
    top: .15em;
    height: 2em;
    input[type="text"] {
      float: left;
      font: .9em $mainFont;
      padding: .3em;
      @include single-box-shadow(#ddd, 0, .1em, .1em, 0, true);
      @include border-radius(.3em);
      padding-left: 2em;
      padding-top: .4em;
    }
    input.srchBttn {
      background: #fff url('../images/searchBttn.png') no-repeat;
      width: .4em;
      text-indent: -100em;
      overflow: hidden;
      height: .4em;
      position: absolute;
      left: .5em;
      top: .5em;
      border: none;
    }
  }

}

.mainMenu {
  //background:$menuBackground;
  width: 115% !important;
  height: 4.4em;
  @include border-radius(.4em, .4em);
  //@include background-image(linear-gradient(#f7f7f7, #afadab));
  a {
    padding: 1.3em 1.3em 1.15em 1.3em;
    text-align: center;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font: 1em $sonus;
    float: left;
    font-weight: 300;
    text-shadow: #eee 0 1px 0;
    border-left: solid 1px #24346f;
    border-right: solid 1px #202848;
    min-width: 4em;
    @include background-image(linear-gradient(#243163, #1a2441));
    // @include single-box-shadow(#666, 0, .1em, .1em, 0, false);

    //@include single-box-shadow(#111, 0, -.1em, .1em, 0, false);
    //@include background(image-url("../images/menuBack.png"),linear-gradient(top left, #, #afadab));
  }
  a:first-child {
    border-left: none;
    padding: .85em .7em .7585em .7em;
    @include border-radius(.4em 0 0 .4em);
    height: 2em;
    // @include single-box-shadow(#666, 0, .1em, .1em, 0, false);
    img {
      position: relative;
      top: .15em;
      left: .3em;
      background-image: url('../images/homeIcon.png');
    }
  }
  a:last-child {
    border-right: none;
    padding: 1.3em 1.6em 1.15em 1.7em !important;
    @include border-radius(0 .4em .4em 0);
    // @include single-box-shadow(#666, 0, .1em, .1em, 0, false);
  }
  a:hover, a:active {
    @include background-image(linear-gradient(#ffffff, #f0f1f0));
    color: #111;
  }
  a:hover, a:active {
    max-height: 2em;
    overflow: hidden;
    img {
      padding-top: 100px;
      background-repeat: no-repeat !important;
      background-position: center top;
      display: inline;
      height: 1em;
      width: 2em;
      overflow: hidden;
    }
  }
}

a.bttn, input.bttn {
  padding: .7em 1em .5em 1em;
  background: #fafafa;
  border: solid 1px #ccc;
  @include border-radius(.3em);
  @include background-image(linear-gradient(#fafafa, #ddd));
  font: 1em $sonus;
  color: $blueLink;
  @include text-shadow(#fff 0 1px 0);
  position: relative;
  top: .5em;
}

a.bttn:hover, input.bttn:hover {
  color: #000;
  @include background-image(linear-gradient(#fff, #eee));
  border-color: #ddd;
}

a.bttn:active, input.bttn:active {
  background: $blueLink;
  color: #fff;
  border: solid 1px #fff;
  @include border-radius(.3em);
  @include text-shadow(#000 0 -1px 0);
  //background: $orange;
}

.separatorDown {
  background: url("../images/separatorDown.png") repeat-x;
  width: 98%;
  float: left;
  height: 1em;
  margin: 0 0 1em .7em;
}

.separatorRight {
  background: url("../images/separatorRight.png") repeat-y;
  width: 1em;
  float: right;
  position: absolute;
  right: 0;
  top: 2em;
  height: 10em;
}

.footer {
  margin: 2em 0 2em 1em;
  left: .5em;
  width: 97.5%;
  @include background-image(linear-gradient(#fefefe, #f0f0f0));
  border: solid 1px $borderColor;
  float: left;
  @include border-radius(.5em);
  h3 {
    font: 1.5em $sonus;
    margin-bottom: .8em;
    color: $blueLink;
    font-weight: 700;
    position: relative;
    top: .5em;
  }
  .four {
    margin: 0 !important;
    padding-top: .8em;
    padding-bottom: .7em;
    img {
      position: relative;
      //left: -3em;
      top: 2em;
    }
    p {
      padding: 1em 0 0 0em;
      line-height: 170% !important;
      float: left;
      font: 1.1em $sonus;
      max-width: 100%;
    }
    .copy {
      font-size: .8em;
      font: .9em $sonus;
      position: relative;
      left: -2em;
      top: 3em;
    }
    a {
      float: left;
      width: 100%;
      font-size: .9em;
      color: $blueLink;
      font: 1.2em $sonus;
      padding: .7em 0 0 0;
    }
    a:hover {
      color: $orange !important;
      background: transparent;
    }
  }
  .four:first-child h3 {
    left: 1.4em;
  }
  .four:first-child a {
    padding: .7em 0 0 2em;

  }
  .four:last-child {
    float: right;
    padding-right: .4em;
  }
}

.home .one-third {
  position: relative;
  margin: 0;
  .separatorRight {
    height: 7em;
    width: .1em;
    top: 4em;
  }
  h2 {
    text-align: center;
    margin-bottom: 1em;
  }
  p {
    font-size: .9em;
    color: $lightGray;
    height: 5em;
    padding-right: 1.3em;
    padding-left: .5em;
  }
  a {
    text-align: center;
    width: 100%;
    float: left;
  }
}

.homeMain {
  width: 98%;
  padding-left: 1%;
  height: auto;
  display: block;
}

.slider {
  width: 91%;
  position: relative;
  padding: 0 4% 1.2em 4%;
  margin-bottom: 2em;
  float: left;
  .slide {
    .bttn {
      float: left;
      z-index: 99999999 !important;
      position: absolute;
      top: 270px;
      left: 48.5%;
    }
    a.slideImg {
      width: 45%;
      padding-right: 2em;
      float: left;
      img {
        width: 100%;
      }
    }
    h1 {
      font: 1.8em $sonus;
      margin-top: 20px;
      strong {
        display: block;
        color: $blueLink;
        text-transform: uppercase;
        font: 1.8em $sonus;
        font-weight: 700;
      }
    }
    p {
      margin-top: 1.5em;
      color: $lightGray;
      max-width: 90%;
      font: 1em $sonus;
    }
    p.price {
      font-size: 2em;
      margin-top: 0;
      margin-bottom: 1em;
      strong {
        font-size: 1.5em;
        font-weight: 300;
        color: $orange;
      }
    }
  }
}

ul.bjqs {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: none;
}

li.bjqs-slide {
  display: none;
  position: absolute;
}

ul.bjqs-controls {
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 9999;
}

ol.bjqs-markers {
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 9999;
}

ol.bjqs-markers li {
  float: left;
}

p.bjqs-caption {
  display: block;
  width: 96%;
  margin: 0;
  padding: 2%;
  position: absolute;
  bottom: 0;
}

ul.bjqs-controls li a {
  display: block;
  padding: 16px 10px;
  width: 2em;
  position: absolute;
  color: #fd0100;
  text-indent: -100em;
  text-decoration: none;
  text-transform: uppercase;
}

a.bjqs-prev {
  left: 0;
  background: url(../images/leftArrow.png) no-repeat;
}

a.bjqs-next {
  background: url(../images/rightArrow.png) no-repeat;
  right: 0;
  text-indent: -10000px;
  overflow: hidden;
}

p.bjqs-caption {
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
}

ol.bjqs-markers {
  position: absolute;
  bottom: -50px;
}

ol.bjqs-markers li {
  float: left;
  margin: 0 3px;
}

ol.bjqs-markers li a {
  display: block;
  height: 10px;
  width: 10px;
  border: 4px solid #fff;
  overflow: hidden;
  text-indent: -9999px;
  background: #000;
  border-radius: 10px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

ol.bjqs-markers li.active-marker a {
  background: #fd0100;
}

#grayNav {
  padding: 0;
  width: 920px !important;
  text-align: center;
  background: $gray;
  float: left;
  @include border-radius(.4em);
  @include single-box-shadow(#ccc, 0, .1em, .3em, 0, true);
  nav {
    width: 70%;
    margin: auto;
    padding: 10px 0;
    li {
      display: inline !important;
      padding: 0;
      margin: 0;
      list-style-type: none;

      a {
        padding: 1em .7em;
        text-transform: uppercase;
        font-size: .85em;
        display: inline;
        //font-weight: 700;
        z-index: 99999;
        @include single-text-shadow(0, .1em, .1em, #eee);
      }
      a.selected, a:hover {
        color: $orange !important;
      }
      a:active {
        color: #000;
      }
    }
  }
}

#grayNav nav a:hover {
  color: $blueLink;
}

.productGallery {
  float: left;
  width: 100%;
  a {
    width: 16%;
    overflow: hidden;
    float: left;
    text-align: center;
    margin-right: .8%;
  }
  a:last-child {
    margin-right: 0;
  }
}

.productDetailGallery {
  position: relative;
  width:340px;
  padding-top: 2em !important;
  .thumbs {
    a {
      margin: 0;
      width: 33.3%;
      float: left;
      text-align: center;
      overflow: hidden;
      img {
        max-width: 100%;
      }
    }
  }
  div.mainImg {
    height: 240px;
    width:340px;
    overflow: hidden;
    img {
      display: none;
      max-width: 98%;
      position: relative;
      top: -.5em;
      margin-bottom: .5em;

    }
    img:first-child {
      display: block;
    }
  }
  .galleryListing {
    width:350px;
    span.imgContainer{
      border:solid 1px red;
      float: left;
      width: 30%;
      margin: 0 1.5% .4em 0;
      height:100px;
      border: solid 1px #fff;
      overflow:hidden;
    }
  }
}

.drivers {
  padding-top: 2em !important;
  position: relative;
  a {
    float: left;
    clear: left;
    img {
      float: left;
      width: 40%;
    }
    span {
      float: right;
      font-size: .9em;
      display: block;
      width: 55%;
      padding-top: 2em;
    }
  }
}

.productDetails {
  position: relative;
  float: right;
  margin: 0 !important;
  overflow: hidden;
  float: right !important;
  width: 60% !important;
  right: .8em;
  min-height:400px;
  h1 {
    color: $blueLink;
    font: 2.9em $sonus !important;
    margin: .7em 0 1em 0;
    span {
      display: block;
      width: 100%;
      font-size: .6em;
      color: $orange;
    }
  }
  p {
    text-transform: uppercase;
    font-size: .85em;
    line-height: 150%;
    width: 90%;
  }
}

.tabsGallery {
  float: left;
  clear: left;
  width: 100%;
  .two-thirds {
    overflow: hidden;
    margin: 0 !important;
    p {
      width: 90% !important;
      //padding:1em 0 1em 1em;
      padding: 2em 0 1em 1em;
      float: left;
      text-transform: uppercase;
      font-size: .95em;
      line-height: 150%;
    }
  }
  .one-third {
    text-align: center;
    img {
      margin: 2.5em 0 0 0;
    }
  }
  nav {
    border-bottom: solid 1px $borderColor;
    padding-left: 2em;
    height: 2.2em;
    position: relative;
    left: -.7em;
    width: 99.1%;
    a {
      color: #fff;
      padding: 1em;
      background: $darkGray;
      font: 1.1em $sonus;

      @include border-top-right-radius(.5em);
      @include border-top-left-radius(.5em);
    }
  }
  .products {
    width: 102.5%;
    position: relative;
    left: -1.2%;
    border-top: solid 1px $borderColor;
    @include single-box-shadow(#ddd, 0, 0, 1em, 0, true);
    float: left;
    a {
      position: relative;
      float: left;
      width: 20%;
      margin: 0;
      height: 13.5em;
      text-align: center;
      overflow: hidden;
      border-bottom: solid 1px $borderColor;
      .separatorRight {
        height: 9.5em;
        width: .1em;
      }
      img {
        margin: 0;
        margin-right: .5em;
        position: relative;
        top: .5em;
        width: 90%;
        left: .2em;
      }
    }
    a:nth-child(5n+0) {
      img {
        margin-right: 0 !important;
        display: block;
        position: relative;
        left: 2.2em;
      }
      .separatorRight {
        display: none;
      }
    }
  }
}

.productInfo {
  position: relative;
  margin-bottom: -2em;
  .separatorRight {
    heigth: 15em !important;
  }
  a {
    text-align: center;
    float: left;
    width: 100%;
    img {
      position: relative;
    }
  }
  h2 {
    text-align: center;
    margin: 1em 0 .5em 0;
  }
  p {
    padding: 0 1.5em;
    width: 94%;
    margin-right: 5em;
    float: left;
    font-size: .98em;
    color: $lightGray !important;
  }
}

//partner settings
.product {
  nav.submenu {
    width: auto;
    float: right;
    text-align: right;
    position: relative;
    right: 2em;
    a {
      padding: 1em;
      float: left;
      color: $blueLink;
      font: 1.1em $sonus !important;

    }
    a.active {
      font-weight: 700 !important;
      margin-left: -2px !important;
      margin-right: -2px !important;
      color: $orange;
    }
    a:hover {
      color: $orange;
    }
    a:last-child {
      padding-right: 0 !important;
    }
  }
}

.partner {
  nav {
    float: right;
    width: auto;
    padding: 1em 1em 1em 0;
    a {
      color: $darkGray;
      margin-left: 1.5em;

    }
  }
  .partnerInfo {
    padding: 1em 1em 1em 2em;
    clear: both;
    border: solid 1px $borderColor;
    width: 93.5%;
    position: relative;
    left: .7em;
    margin-bottom: 1em;
    min-height: 25em;
    overflow: hidden;
    @include border-radius(.5em);

    h1 {
      color: $blueLink;
      margin: .5em 0 1em 0;
      font-weight: 700;
    }
    p {
      width: 40%;
      line-height: 130%;
    }
    img {
      position: absolute;
      bottom: 0;
      right: 0;
    }
    .one-third {
      margin: 0 !important;
      width: 33% !important;
      position: relative;
      overflow: hidden;
      min-height: 22em;
      padding-bottom: 10em;
      .separatorRight {
        right: -.8em;
        top: 1em;
        height: 30em;
      }
      img.alignLeft, img.alignCenter, img.alignRight {
        position: absolute;
        bottom: -.1em !important;
      }
      .alignLeft {
        left: 0;
      }
      img.alignCenter {
        margin: auto;
      }
      h2 {
        color: $blueLink;
        font-size: 2em;
        padding: 1em 0 0 1em;
        margin-bottom: 0;
      }
      p {
        width: 86%;
        padding: 7%;
        font-size: .97em;
      }
    }

    .one-third:last-child {
      left: .9em;

    }
  }
  .noPadding {
    width: 97.6%;
  }
}

.noPadding {
  padding: 0 !important;
}

.errorPage, .search {
  h1 {
    padding-left: 1em;
  }
}

.contact {
  h1 {
    padding-left: 1em;
  }
}

.general_page {
  margin-top: .5em;
  position: relative;
  left: .15em !important;
  .pageInfo .content_text {
    width: 50%;
    z-index: 9999;
    margin-bottom: 2em;
    float: left;
    line-height: 160%;
  }
}

.productListing {
  margin: 25px 0 1.5em 0;
  a {
    height: 11em;
    max-height: 11em;
    overflow: hidden !important;
    position: relative;
    bottom: 0;
    float: left;
    @include border-radius(.4em);
    overflow: hidden;
    @include single-box-shadow(#ccc, 0, .3em, .5em, 0, false);
    border-top: solid 1px #fafafa;
    @include background-image(linear-gradient(#fefefe, #eee));
    margin-right: 1em;

    span.title {
      font-weight: 300;
      font-size: 1.25em;
      margin: .3em 0;
      display: block;
      padding: .2em 0;
      z-index: 999;
      color: $grayLink !important;
    }
    span.img {
      //position: absolute;
      z-index: 9;
    }
  }
  a:hover {
    span {
      color: $blueLink !important;
    }
  }
  .productItem {
    width: 160px;
    margin-left: 1em;
    margin-bottom: 1.5em;
    img {
      width: 100%;
    }
  }
}

.page_desc {
  float: left;
  width: 98%;
  margin: 2em;
  span, p {
    font-size: 1.1em !important;
  }
}

.productsPage h1 {
  padding: .5em 1em 0 1em;
}

.characteristics {
  display: none;
  padding-top: 1em;
  p {
    text-transform: none;
    color: #000;
    float: left;
    margin-left: .6em;
    font: 1.5em $sonus;
    span {
      float: left;
      clear: left !important;
      width: 100%;
    }
    strong {
      font-weight: 300 !important;
      text-align: left;
      float: left;
      position: relative;
      top: -.6em;
      width: 18em;
      margin-right: 1em;
      color: $blueLink !important;
    }
  }
}

.categoryPage {
  margin: -0.5em 0 -1em 0 !important;
  ul {
    text-align: center;
    display: block;
    float: left;
    li {
      display: inline;
      float: left;
      width: 10em;
      a {
        float: left;
        display: block;
        width: 10em;
        height: 12em;
        position: relative;
        span {
          display: block;
          width: 98%;
          position: absolute;
          bottom: 0;
          left: 0;
          font-family: $sonus;
          text-align: center;
        }
        img {
          width: 100% !important;
          max-height: 10em;
        }
      }
      a:hover {
        background: transparent;
      }
    }
  }
}

.breadCrumb {
  line-height:2.2em;
  a {
    font: .95em $sonus;
    padding-right: 1.3em;
    margin-right: .9em;
    float: left;
    background: url('../images/arrow_right.png') no-repeat right -.15em;
    color: $blueLink;
    font-weight: 700;
  }
  span {
    font: 1em $sonus;
    position: relative;
    top: -.58em;
  }
}

.tabs {
  h2 {
    font: 1.6em $sonus;
    border-bottom: solid 1px #dfdfdf;
    padding-bottom: .4em;
  }
  div.productDescription {
    padding: .4em 0;
    font: 1em $sonus, Arial, sans-serif !important;
    line-height: 170%;
    font-size: 1em;
  }
  .tab {
    display: none;
  }
  .active {
    display: block;
  }
}

.padding10 {
  float: left;
  margin: 1em 0 0em 0 !important;
}

.driversList {
  li {
    float: left;
    width: 100%;
    //max-height: 5em;
    //height: 5em;
    padding: 0 !important;
    overflow: hidden;
    border-bottom: solid 1px #eee;
    h4 {
      margin-top: -.5em;
      padding-top: 0;
      float: left;
      width: 70%;
      font: 1.3em $sonus;
      font-weight: 700;
    }
    p {
      display: block;
      width: 70%;
      padding-left: 2em;
      float: left;
      text-transform: none;
      clear: left;
    }
    .bttn {
      float: right;
      position: relative;

    }
  }
}

.galleryListing {
  padding-top: 1em;
  img.active {
    border: solid 1px $gray;
  }

}

h3.similarProducts {
  padding: .7em 1em .3em 1em;
  font: 2.2em $sonus;
}

.tabs .productListing {
  a {
    width: 8em;
    height: 9em;
    overflow: hidden;
    @include border-radius(.5em);
    float: left;
    margin: 0 .6em .6em 0;
    span.title {
      display: block;
      float: left;
      text-align: center;
      width: 100%;
    }
    img {
      margin: 0 auto;
      width: 100%;
      float: left;
    }
  }
}

.contact {
  font-size: 13px;
  input[type="text"] {
    border: solid 1px #ddd;
  }
}

.contact_us {
  width: 220px;
  float: left;
}

.contact_us li.social {
  padding-top: 14px !important;
  background: none !important;
  padding-left: 0px !important;
}

.contact_us li.social a {
  display: inline-block;
  padding-right: 10px;
}

#contactForm {
  float: right;
  width: 30%;
  form {
    input[type="text"], textarea {
      @include border-radius(.5em);
      overflow: hidden;
    }
    label {
      font: 1.1em $sonus;

    }
    span.required {
      display: none;
      color: red !important;
      position: relative;
      top: -1.7em;
    }
    #sendMessage {
      font: 1em $sonus !important;
    }
  }
}

.mapContainer {
  display: block;
  float: left;
  width: 60%;
  margin-left: 1em;
  margin-top: 2em;
  height: 300px;
  border: solid 1px #ddd;
  padding: 4px;
  margin-bottom: 30px;
  .map {
    height: 300px;
  }

}

h3.similarProducts {
  margin-left: .2em;
  width: 93%;;
}

.promoProducts {
  width: 100%;
  float: left;
  border-bottom: solid 1.4px #ddd;
  position: relative;
  font-size: 1.8em;
  padding-bottom: .6em;
  left: -.4em;
  padding-left: 1em;
}

.priceBox {
  margin-bottom: 1em;
  top: -2em;
  width: 100%;
  float: left;
  position: relative;
  clear: both;

  a.addToBasket {
    float: left;
  }
  h2.priceHeadline {
    color: $blueLink;
    float: left;
    width: auto;
    font-size: 1.8em;
    margin-right: 1em;
  }
  .compare {
    float: right;
    clear: right;
    padding: .4em .45em;
    font-size: .95em;

  }
  .orangeBttn {
    float: right;
    color: #fff;
    text-shadow: 0 1px 0 #777;
    padding: .7em 1.3em .5em 1.3em;
    position: relative;
    top: -.3em;
  }
}

.orangeBttn {
  background: $orange !important;
}

.orangeBttn:hover {
  color: #fff !important;
  font-weight: 700;
}

//this is shopping cart order view
.cartForm {
  float: left;
  width: 100%;
  padding: 1em 2em;
  table {
    width: 90%;
    float: left;
    display: block;
    margin: 0 auto;
    margin-bottom: 1.5em;
    border-bottom: solid 1px #ddd;
    padding-bottom: 1em;
    thead {
      tr th {
        border-bottom: solid 1px $blueLink;
        padding: .3em 1em;
        text-align: center;
        font-weight: 700;
        font: 1.2em $mainFont;
      }
    }
    tbody {
      tr td {
        padding: .5em;
        text-align: center;
        input {
          width: 4em;
          @include border-radius(.3em);

          margin: 0;
          position: relative;
          top: .5em;
          text-align: center;
        }
        tr td.lefTAl {
          text-align: left !important;
        }
        .bttn {
          margin: 0 !important;
          position: relative;
          top: -.4em;
          padding: .3em .5em;

        }
        .price {
          font-size: 1.4em !important;
          text-align: right;
          padding: .3em .5em;
        }
      }

    }
  }
}

.cartFooter {
  width: 80%;
  float: righ;
  margin-right: 2em;
  label {
    float: left;
    width: 16em;
    span {
      font-size: 1.4em;
      position: relative;
      top: .8em;
    }
  }

  input {
    float: right;
    width: 6em;
    font-size: 1.6em;
    text-align: center;;
  }
  .totalPrice {
    padding: 2em,;
  }
}

.orderBttn {
  @include border-radius(.3em);
  position: relative;
  margin-left: 37%;
  float: right;
  margin-right: 4.8em;;
  font-size: 1.4em;
  @include background-image(linear-gradient($orange, $orange));
  color: #fff;
  text-shadow: 0 -.1em 0 #666;
  font-weight: 300;
}

.cancelBttn {
  position: relative;
  left: 37%;
  margin-top: .6em;
}

.addressType {
  padding: .5em;
  label {
    margin-bottom: .5em;
  }
}

.continueBttn {
  float: left;
  left: 0 !important;
  margin-left: 0 !important;
}

.continueCancelBttn {
  float: left;
  left: 0;
  margin-left: 0;

}

.continueShopping {
  font-size: 1.4em;;
}

.orderDetails {
  margin: 1em 3em;
  float: left;
  width: 100%;
  table {
    margin: 2em 0;
    float: left;
    td {
      border-bottom: solid 1px #ddd;
      padding: .5em 1em;
    }
  }
}

.priceBox #resultAdd {
  float: right;
  clear: right;
  width: 100%;
  text-align: right;
  color: $blueLink;
}

#compareContent {
  position: absolute;
  top: 10em;
  z-index: 99999;
  padding-bottom: 3em !important;
  @include border-radius(.3em);
  @include single-box-shadow(#999, 0, 0, .8em, 0, false);

  left: 50%;
  margin-left: -25em;
  width: 50em;
  background: #fff;
  padding: 1.4em;

  h3 {
    font: 2.5em $sonus;
    margin-bottom: 1em;
  }
  .compareItem {
    float: left;
    width: 45%;
    h4 {
      font: 2em $sonus;
      widows: 100%;
      text-align: center;
      margin-bottom: 1em;;
    }
    select {
      padding: .2em;
      margin-left: 3em;
    }
  }
  .continue {
    font-size: 1.6em;
  }
}

.imgCompare {
  width: 100%;
  text-align: center;
  overflow: hidden;
  margin-top: 1em;
  img {
    width: 80%;
  }
}

#advancedSearch {
  float: left;
  //background:#ddd;
  clear: left;

  width: 20%;
  //@include border-radius(.4em);
  margin: 4em 1em 2em 1em;

  h4 {
    font: 1.4em $sonus;
    float: left;
    padding: .5em;
    text-align: center;
    border-bottom: solid 1px #ddd;
    float: left;
    width: 100%;;
  }
  h5 {

    font: 1.1em $mainFont;
    padding: .2em .4em;
    margin: .4em 0 .2em 0;
    background: #eee;
    float: left;
    width: 100%;
    position: relative;
    left: .1em;
    border-bottom: solid 1px #ddd;
    a {
      font-weight: 700;
      width: 100%;
      float: left;
      padding: .2em;
    }
  }

  article ul {
    float: left;

    li {
      float: left;
      width: 100%;
      font-size: .95em;
      padding: 0;
      margin: 0;
      input {
        margin-right: .5em;
        float: left;
        margin-bottom: .5em;
        text-align: center;
      }
      span {
        float: left;
        width: 80%;
      }
    }
  }
}

.advSearch {
  padding: 0 0 0 1em;
  a {
    font-size: .5em !important;
  }
}

#searchResults {
  float: left;
  width: 75%;
}

.noSearchInfo {
  margin-left: 3em;
  margin-top: -1em;
  text-align: center;
  font-size: 1.1em;
  margin-top: 3em;
  padding-top: 2em;
  background: url('../images/searchBttn.png') no-repeat center top;;
}

.headTitle, .categories, .manufacturesList, .characteristicsList, .priceList {
  display: none;
}

.searchBttn {
  width: 100%;
  margin-left: .3em;
  margin-top: 1em;
  font: 1.4em $sonus !important;
}

.changeProfile {
  position: relative;
  top: -2em;
  color: #777;
  clear: left;
  float: left;
}

.profileInfo {
  h2 {
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: .8em;
    float: left;
  }
  h3 {
    font-size: 1.8em;
  }
  .info {
    float: left;
    clear: left;
    width: 68%;
    article {
      float: left;
      padding-left: 6em;
      width: 90%;
      position: relative;
      padding-bottom: .5em;
      p {
        width: 90%;
      }

      .img {
        width: 5em;
        clear: left;
        float: left;
        position: absolute;
        left: 0;
        top: 0;
        height: 6em;
        overflow: hidden;
        img {
          width: 100%;
          margin: 0;
          padding: 0;
          position: inherit;
          top: 0;
        }
      }
    }
  }

  .previousOrder {
    float: right;
    margin-top: 2em;
    width: 30%;
    h3 {
      margin-bottom: 1em;
    }
    h4 {
      font-size: 1.2em;
      a {
        font-weight: 700;;
      }
    }
    p {
      margin: -.3em 0 0 0;
      padding: 0 0 .8em 0;
    }
  }
}

a.inline {
  font-weight: 700;
  font-size: 105%;
  color: $blueLink;
}

.myAccountNews {
  margin-top: 1em;
}

.orderInfo {

  table {
    width: 80%;
    float: left;
    margin: 3em;
    td {
      width: 50%;
      padding: .3em 0 .3em 3em;
      font-size: 1.4em;;

    }
    td:first-child {
      border-right: solid 1px #ddd;
      width: 20%;
      font-weight: 700;
      padding-right: 3em;
      font-size: 1.1em;
      text-align: right;
    }
  }
}

.confirmDelivery {
  font-weight: 700;
  color: $green !important;
}

.statusInfo1, .statusInfo2, .statusInfo3, .statusInfo4, .statusInfo5, .statusInfo6, .statusInfo7 {
  font-size: 1.1em;
  font-weight: 700;
}

.statusInfo2 {

}

.statusInfo3 {

}

.statusInfo4 {

}

.contactMessage {
  margin: 0 0 0 10em;
  fieldset {

    label {
      font-weight: 300;
    }
    textarea {
      border: solid 1px #ddd;
      padding: 1em;
      width: 40em;
      height: 15em;
      margin-top: .5em;
      @include border-radius(.5em);
    }
    button {
      font-weight: 300;
      padding: .5em 1em;
      font-size: 1.1em;
    }
  }
}

.cartTable td {
  input {
    top: -.1em !important;
    position: relative;
    left: .7em;
  }
}

tr:hover {
  td {
    background-color: #eeeeee;
  }
}

.removeItem {
  padding: 1em;
  position: relative;
  top: .2em;
}

.closeCompare {
  margin-left: 190px;
}

.connectedPages {
  .one-third {
    margin: 0 !important;
    padding-left: 1em;
    width: 32% !important;
  }
  .one-third:last-child {
    float: right;
    padding-left: 0;
  }
}

#ordersHistory {
  position: relative;
  left: 2.5%;

  th {
    text-align: center;
    font-weight: 700;
    font-size: 120%;
    padding: 0 .4em;
    border-bottom: solid 1px #ddd;;
  }
  width: 80%;
  margin: 0 auto;
  margin-bottom: 3em;
  td {
    padding: .6em .6em 1em 1em;
  }
}

.productDescription {
  text-transform: none !important;
  h5 {
    font: 1.2em $sonus !important;
  }
}

.chTable {
  td {
    text-align: left;
    min-width: 25%;
    padding-bottom: .5em !important;
    vertical-align: top !important;
  }
}

.sharingContact {
  margin: 2em 0 0em 0;
  padding: 0 0 0 1em;
  float: left;
}

.contactLeft {
  margin-bottom: 2em;
}

@import "layout.scss";