/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/
/* Table of Content
==================================================
	#Reset & Basics
	#Basic Styles
	#Site Styles
	#Typography
	#Links
	#Lists
	#Images
	#Buttons
	#Forms
	#Misc */
/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
/* line 27, ../sass/base.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* line 34, ../sass/base.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 36, ../sass/base.scss */
body {
  line-height: 1; }

/* line 38, ../sass/base.scss */
ol, ul {
  list-style: none; }

/* line 40, ../sass/base.scss */
blockquote, q {
  quotes: none; }

/* line 43, ../sass/base.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

/* line 46, ../sass/base.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* #Basic Styles
================================================== */
/* line 53, ../sass/base.scss */
body {
  background: #fff;
  font: 14px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%; }

/* #Typography
================================================== */
/* line 64, ../sass/base.scss */
h1, h2, h3, h4, h5, h6 {
  color: #181818;
  font-family: "Georgia", "Times New Roman", serif;
  font-weight: normal; }

/* line 68, ../sass/base.scss */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit; }

/* line 69, ../sass/base.scss */
h1 {
  font-size: 46px;
  line-height: 50px;
  margin-bottom: 14px; }

/* line 70, ../sass/base.scss */
h2 {
  font-size: 35px;
  line-height: 40px;
  margin-bottom: 10px; }

/* line 71, ../sass/base.scss */
h3 {
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 8px; }

/* line 72, ../sass/base.scss */
h4 {
  font-size: 21px;
  line-height: 30px;
  margin-bottom: 4px; }

/* line 73, ../sass/base.scss */
h5 {
  font-size: 17px;
  line-height: 24px; }

/* line 74, ../sass/base.scss */
h6 {
  font-size: 14px;
  line-height: 21px; }

/* line 75, ../sass/base.scss */
.subheader {
  color: #777; }

/* line 77, ../sass/base.scss */
p {
  margin: 0 0 20px 0; }

/* line 78, ../sass/base.scss */
p img {
  margin: 0; }

/* line 79, ../sass/base.scss */
p.lead {
  font-size: 21px;
  line-height: 27px;
  color: #777; }

/* line 81, ../sass/base.scss */
em {
  font-style: italic; }

/* line 82, ../sass/base.scss */
strong {
  font-weight: bold;
  color: #333; }

/* line 83, ../sass/base.scss */
small {
  font-size: 80%; }

/*	Blockquotes  */
/* line 86, ../sass/base.scss */
blockquote, blockquote p {
  font-size: 17px;
  line-height: 24px;
  color: #777;
  font-style: italic; }

/* line 87, ../sass/base.scss */
blockquote {
  margin: 0 0 20px;
  padding: 9px 20px 0 19px;
  border-left: 1px solid #ddd; }

/* line 88, ../sass/base.scss */
blockquote cite {
  display: block;
  font-size: 12px;
  color: #555; }

/* line 89, ../sass/base.scss */
blockquote cite:before {
  content: "\2014 \0020"; }

/* line 90, ../sass/base.scss */
blockquote cite a, blockquote cite a:visited, blockquote cite a:visited {
  color: #555; }

/* line 92, ../sass/base.scss */
hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0; }

/* #Links
================================================== */
/* line 97, ../sass/base.scss */
a, a:visited {
  color: #333;
  text-decoration: underline;
  outline: 0; }

/* line 98, ../sass/base.scss */
a:hover, a:focus {
  color: #000; }

/* line 99, ../sass/base.scss */
p a, p a:visited {
  line-height: inherit; }

/* #Lists
================================================== */
/* line 104, ../sass/base.scss */
ul, ol {
  margin-bottom: 20px; }

/* line 105, ../sass/base.scss */
ul {
  list-style: none outside; }

/* line 106, ../sass/base.scss */
ol {
  list-style: decimal; }

/* line 107, ../sass/base.scss */
ol, ul.square, ul.circle, ul.disc {
  margin-left: 30px; }

/* line 108, ../sass/base.scss */
ul.square {
  list-style: square outside; }

/* line 109, ../sass/base.scss */
ul.circle {
  list-style: circle outside; }

/* line 110, ../sass/base.scss */
ul.disc {
  list-style: disc outside; }

/* line 112, ../sass/base.scss */
ul ul, ul ol, ol ol, ol ul {
  margin: 4px 0 5px 30px;
  font-size: 90%; }

/* line 114, ../sass/base.scss */
ul ul li, ul ol li, ol ol li, ol ul li {
  margin-bottom: 6px; }

/* line 115, ../sass/base.scss */
li {
  line-height: 18px;
  margin-bottom: 12px; }

/* line 116, ../sass/base.scss */
ul.large li {
  line-height: 21px; }

/* line 117, ../sass/base.scss */
li p {
  line-height: 21px; }

/* #Images
================================================== */
/* line 122, ../sass/base.scss */
img.scale-with-grid {
  max-width: 100%;
  height: auto; }

/* #Buttons
================================================== */
/* line 134, ../sass/base.scss */
.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
  background: #eee;
  /* Old browsers */
  background: #eeeeee -moz-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  /* FF3.6+ */
  background: #eeeeee -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.2)), color-stop(100%, rgba(0, 0, 0, 0.2)));
  /* Chrome,Safari4+ */
  background: #eeeeee -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  /* Chrome10+,Safari5.1+ */
  background: #eeeeee -o-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  /* Opera11.10+ */
  background: #eeeeee -ms-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  /* IE10+ */
  background: #eeeeee linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  /* W3C */
  border: 1px solid #aaa;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #444;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 1px rgba(255, 255, 255, 0.75);
  cursor: pointer;
  margin-bottom: 20px;
  line-height: normal;
  padding: 8px 10px;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; }

/* line 164, ../sass/base.scss */
.button:hover, button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover {
  color: #222;
  background: #ddd;
  /* Old browsers */
  background: #dddddd -moz-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
  /* FF3.6+ */
  background: #dddddd -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.3)), color-stop(100%, rgba(0, 0, 0, 0.3)));
  /* Chrome,Safari4+ */
  background: #dddddd -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
  /* Chrome10+,Safari5.1+ */
  background: #dddddd -o-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
  /* Opera11.10+ */
  background: #dddddd -ms-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
  /* IE10+ */
  background: #dddddd linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
  /* W3C */
  border: 1px solid #888;
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa; }

/* line 181, ../sass/base.scss */
.button:active, button:active, input[type="submit"]:active, input[type="reset"]:active, input[type="button"]:active {
  border: 1px solid #666;
  background: #ccc;
  /* Old browsers */
  background: #cccccc -moz-linear-gradient(top, rgba(255, 255, 255, 0.35) 0%, rgba(10, 10, 10, 0.4) 100%);
  /* FF3.6+ */
  background: #cccccc -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.35)), color-stop(100%, rgba(10, 10, 10, 0.4)));
  /* Chrome,Safari4+ */
  background: #cccccc -webkit-linear-gradient(top, rgba(255, 255, 255, 0.35) 0%, rgba(10, 10, 10, 0.4) 100%);
  /* Chrome10+,Safari5.1+ */
  background: #cccccc -o-linear-gradient(top, rgba(255, 255, 255, 0.35) 0%, rgba(10, 10, 10, 0.4) 100%);
  /* Opera11.10+ */
  background: #cccccc -ms-linear-gradient(top, rgba(255, 255, 255, 0.35) 0%, rgba(10, 10, 10, 0.4) 100%);
  /* IE10+ */
  background: #cccccc linear-gradient(top, rgba(255, 255, 255, 0.35) 0%, rgba(10, 10, 10, 0.4) 100%);
  /* W3C */ }

/* line 195, ../sass/base.scss */
.button.full-width, button.full-width, input[type="submit"].full-width, input[type="reset"].full-width, input[type="button"].full-width {
  width: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important;
  text-align: center; }

/* Fix for odd Mozilla border & padding issues */
/* line 203, ../sass/base.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* #Forms
================================================== */
/* line 212, ../sass/base.scss */
form {
  margin-bottom: 20px; }

/* line 214, ../sass/base.scss */
fieldset {
  margin-bottom: 20px; }

/* line 220, ../sass/base.scss */
input[type="text"], input[type="password"], input[type="email"], textarea, select {
  border: 1px solid #ccc;
  padding: 6px 4px;
  outline: none;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #777;
  margin: 0;
  width: 210px;
  max-width: 100%;
  display: block;
  margin-bottom: 20px;
  background: #fff; }

/* line 235, ../sass/base.scss */
select {
  padding: 0; }

/* line 240, ../sass/base.scss */
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, textarea:focus {
  border: 1px solid #aaa;
  color: #444;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2); }

/* line 246, ../sass/base.scss */
textarea {
  min-height: 60px; }

/* line 249, ../sass/base.scss */
label, legend {
  display: block;
  font-weight: bold;
  font-size: 13px; }

/* line 253, ../sass/base.scss */
select {
  width: 220px; }

/* line 255, ../sass/base.scss */
input[type="checkbox"] {
  display: inline; }

/* line 258, ../sass/base.scss */
label span, legend span {
  font-weight: normal;
  font-size: 13px;
  color: #444; }

/* #Misc
================================================== */
/* line 265, ../sass/base.scss */
.remove-bottom {
  margin-bottom: 0 !important; }

/* line 266, ../sass/base.scss */
.half-bottom {
  margin-bottom: 10px !important; }

/* line 267, ../sass/base.scss */
.add-bottom {
  margin-bottom: 20px !important; }
