/* line 24, ../sass/ie.scss */
section.header {
  position: relative; }

/* line 27, ../sass/ie.scss */
section.header nav a {
  display: block; }

/* line 30, ../sass/ie.scss */
.logo {
  left: 0;
  top: 0;
  width: 4em !important;
  float: left; }

/* line 36, ../sass/ie.scss */
.langMenu {
  width: auto;
  float: right; }
/* line 39, ../sass/ie.scss */
.langMenu a {
  float: left;
  clear: none; }

/* line 44, ../sass/ie.scss */
.srchBttn {
  width: 20px;
  height: 20px;
  background: red;
  background-position: 0 0; }

/* line 49, ../sass/ie.scss */
.mainMenu {
  margin-top: 1em; }
/* line 51, ../sass/ie.scss */
.mainMenu a {
  padding-top: 1em;
  padding-bottom: 1em;
  background: #222f5c; }
/* line 56, ../sass/ie.scss */
.mainMenu a:first-child {
  padding-bottom: .65em;
  padding-top: .5em; }

/* line 61, ../sass/ie.scss */
h1, h2, h3, h4, h5, h6, p {
  display: block!important; }

/* line 64, ../sass/ie.scss */
p {
  float: left;
  width: 100%; }

/* line 67, ../sass/ie.scss */
.productGallery {
  float: left;
  width: 700px; }

/* line 71, ../sass/ie.scss */
.productInfo {
  width: 45%;
  float: left; }

/* line 75, ../sass/ie.scss */
.general_page {
  width: 110%!important;
  float: left; }

/* line 79, ../sass/ie.scss */
.partnerInfo {
  width: 880px!important;
  margin-bottom: 3em!important; }

/* line 83, ../sass/ie.scss */
.productListing {
  clear: left;
  width: 880px; }

/* line 87, ../sass/ie.scss */
.separator-down {
  float: left;
  width: 880%!important;
  clear: both!important; }

/* line 92, ../sass/ie.scss */
.categories {
  float: left;
  clear: left; }
/* line 95, ../sass/ie.scss */
.categories li {
  display: block;
  display: block;
  width: 200px!important; }
/* line 99, ../sass/ie.scss */
.categories li input {
  display: inline; }

/* line 107, ../sass/ie.scss */
.slide {
  float: left; }
/* line 109, ../sass/ie.scss */
.slide p {
  float: right;
  width: 400px;
  margin-right: 55px; }
/* line 114, ../sass/ie.scss */
.slide p.price {
  float: left; }
.orderBttn { background-color:#E77E1B; }
.button:hover { background-color:#ddd; }