/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/
/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */
/* #Site Styles
================================================== */
/* #Page Styles
================================================== */
/* #Media Queries
================================================== */
/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
  /* line 28, ../sass/layout.scss */
  .mainMenu a {
    padding: 1.4em .385em !important; }
  /* line 30, ../sass/layout.scss */
  .mainMenu a img {
    margin: .4em;
    width: 50%; }

  /* line 35, ../sass/layout.scss */
  .mainMenu a:first-child {
    padding: .2em .6em !important; }

  /* line 38, ../sass/layout.scss */
  .subMenu {
    width: 64%; } }
/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  /* line 45, ../sass/layout.scss */
  .mainMenu a {
    padding: 1.4em .385em !important; }
  /* line 48, ../sass/layout.scss */
  .mainMenu a img {
    margin: .4em;
    width: 50%; }

  /* line 53, ../sass/layout.scss */
  .mainMenu a:first-child {
    padding: .74em .5em !important; }

  /* line 56, ../sass/layout.scss */
  .subMenu {
    width: 64%; } }
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  /* line 63, ../sass/layout.scss */
  .mainMenu {
    left: .5em;
    margin-bottom: 2em!important;
    position: relative; }
  /* line 67, ../sass/layout.scss */
  .mainMenu a {
    max-width: 28%;
    min-width: 15%;
    font-size: .7em; }
  /* line 72, ../sass/layout.scss */
  .mainMenu a:first-child {
    max-width: 8%!important;
    min-width: 5%!important;
    height: 2.6em; }
  /* line 76, ../sass/layout.scss */
  .mainMenu a:first-child img {
    max-width: 1.5em; }
  /* line 80, ../sass/layout.scss */
  .mainMenu a:nth-child(6) {
    clear: left;
    max-width: 35%!important;
    padding: .3em; }
  /* line 87, ../sass/layout.scss */
  .mainMenu a:hover img {
    max-width: 1.5em!important; }

  /* line 94, ../sass/layout.scss */
  .separatorDown {
    width: 90%!important; } }
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  /* line 102, ../sass/layout.scss */
  .separatorDown {
    width: 90%!important; } }
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */
/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/
