/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/
/* Table of Contents
==================================================
    #Base 960 Grid
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
    #Clearing */
/* #Base 960 Grid
================================================== */
/* line 24, ../sass/skeleton.scss */
.container {
  position: relative;
  width: 960px;
  margin: 0 auto;
  padding: 0; }

/* line 26, ../sass/skeleton.scss */
.container .column, .container .columns {
  float: left;
  display: inline;
  margin-left: 10px;
  margin-right: 10px; }

/* line 27, ../sass/skeleton.scss */
.row {
  margin-bottom: 20px; }

/* Nested Column Classes */
/* line 30, ../sass/skeleton.scss */
.column.alpha, .columns.alpha {
  margin-left: 0; }

/* line 31, ../sass/skeleton.scss */
.column.omega, .columns.omega {
  margin-right: 0; }

/* Base Grid */
/* line 35, ../sass/skeleton.scss */
.container .one.column, .container .one.columns {
  width: 40px; }

/* line 36, ../sass/skeleton.scss */
.container .two.columns {
  width: 100px; }

/* line 37, ../sass/skeleton.scss */
.container .three.columns {
  width: 160px; }

/* line 38, ../sass/skeleton.scss */
.container .four.columns {
  width: 220px; }

/* line 39, ../sass/skeleton.scss */
.container .five.columns {
  width: 280px; }

/* line 40, ../sass/skeleton.scss */
.container .six.columns {
  width: 340px; }

/* line 41, ../sass/skeleton.scss */
.container .seven.columns {
  width: 400px; }

/* line 42, ../sass/skeleton.scss */
.container .eight.columns {
  width: 460px; }

/* line 43, ../sass/skeleton.scss */
.container .nine.columns {
  width: 520px; }

/* line 44, ../sass/skeleton.scss */
.container .ten.columns {
  width: 580px; }

/* line 45, ../sass/skeleton.scss */
.container .eleven.columns {
  width: 640px; }

/* line 46, ../sass/skeleton.scss */
.container .twelve.columns {
  width: 700px; }

/* line 47, ../sass/skeleton.scss */
.container .thirteen.columns {
  width: 760px; }

/* line 48, ../sass/skeleton.scss */
.container .fourteen.columns {
  width: 820px; }

/* line 49, ../sass/skeleton.scss */
.container .fifteen.columns {
  width: 880px; }

/* line 50, ../sass/skeleton.scss */
.container .sixteen.columns {
  width: 940px; }

/* line 52, ../sass/skeleton.scss */
.container .one-third.column {
  width: 300px; }

/* line 53, ../sass/skeleton.scss */
.container .half.column {
  width: 450px; }

/* line 54, ../sass/skeleton.scss */
.container .two-thirds.column {
  width: 620px; }

/* Offsets */
/* line 57, ../sass/skeleton.scss */
.container .offset-by-one {
  padding-left: 60px; }

/* line 58, ../sass/skeleton.scss */
.container .offset-by-two {
  padding-left: 120px; }

/* line 59, ../sass/skeleton.scss */
.container .offset-by-three {
  padding-left: 180px; }

/* line 60, ../sass/skeleton.scss */
.container .offset-by-four {
  padding-left: 240px; }

/* line 61, ../sass/skeleton.scss */
.container .offset-by-five {
  padding-left: 300px; }

/* line 62, ../sass/skeleton.scss */
.container .offset-by-six {
  padding-left: 360px; }

/* line 63, ../sass/skeleton.scss */
.container .offset-by-seven {
  padding-left: 420px; }

/* line 64, ../sass/skeleton.scss */
.container .offset-by-eight {
  padding-left: 480px; }

/* line 65, ../sass/skeleton.scss */
.container .offset-by-nine {
  padding-left: 540px; }

/* line 66, ../sass/skeleton.scss */
.container .offset-by-ten {
  padding-left: 600px; }

/* line 67, ../sass/skeleton.scss */
.container .offset-by-eleven {
  padding-left: 660px; }

/* line 68, ../sass/skeleton.scss */
.container .offset-by-twelve {
  padding-left: 720px; }

/* line 69, ../sass/skeleton.scss */
.container .offset-by-thirteen {
  padding-left: 780px; }

/* line 70, ../sass/skeleton.scss */
.container .offset-by-fourteen {
  padding-left: 840px; }

/* line 71, ../sass/skeleton.scss */
.container .offset-by-fifteen {
  padding-left: 900px; }

/* #Tablet (Portrait)
================================================== */
/* Note: Design for a width of 768px */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  /* line 81, ../sass/skeleton.scss */
  .container {
    width: 768px; }

  /* line 83, ../sass/skeleton.scss */
  .container .column, .container .columns {
    margin-left: 10px;
    margin-right: 10px; }

  /* line 84, ../sass/skeleton.scss */
  .column.alpha, .columns.alpha {
    margin-left: 0;
    margin-right: 10px; }

  /* line 85, ../sass/skeleton.scss */
  .column.omega, .columns.omega {
    margin-right: 0;
    margin-left: 10px; }

  /* line 86, ../sass/skeleton.scss */
  .alpha.omega {
    margin-left: 0;
    margin-right: 0; }

  /* line 89, ../sass/skeleton.scss */
  .container .one.column, .container .one.columns {
    width: 28px; }

  /* line 90, ../sass/skeleton.scss */
  .container .two.columns {
    width: 76px; }

  /* line 91, ../sass/skeleton.scss */
  .container .three.columns {
    width: 124px; }

  /* line 92, ../sass/skeleton.scss */
  .container .four.columns {
    width: 172px; }

  /* line 93, ../sass/skeleton.scss */
  .container .five.columns {
    width: 220px; }

  /* line 94, ../sass/skeleton.scss */
  .container .six.columns {
    width: 268px; }

  /* line 95, ../sass/skeleton.scss */
  .container .seven.columns {
    width: 316px; }

  /* line 96, ../sass/skeleton.scss */
  .container .eight.columns {
    width: 364px; }

  /* line 97, ../sass/skeleton.scss */
  .container .nine.columns {
    width: 412px; }

  /* line 98, ../sass/skeleton.scss */
  .container .ten.columns {
    width: 460px; }

  /* line 99, ../sass/skeleton.scss */
  .container .eleven.columns {
    width: 508px; }

  /* line 100, ../sass/skeleton.scss */
  .container .twelve.columns {
    width: 556px; }

  /* line 101, ../sass/skeleton.scss */
  .container .thirteen.columns {
    width: 604px; }

  /* line 102, ../sass/skeleton.scss */
  .container .fourteen.columns {
    width: 652px; }

  /* line 103, ../sass/skeleton.scss */
  .container .fifteen.columns {
    width: 700px; }

  /* line 104, ../sass/skeleton.scss */
  .container .sixteen.columns {
    width: 748px; }

  /* line 106, ../sass/skeleton.scss */
  .container .one-third.column {
    width: 236px; }

  /* line 107, ../sass/skeleton.scss */
  .container .half.column {
    width: 314px; }

  /* line 108, ../sass/skeleton.scss */
  .container .two-thirds.column {
    width: 492px; }

  /* Offsets */
  /* line 111, ../sass/skeleton.scss */
  .container .offset-by-one {
    padding-left: 48px; }

  /* line 112, ../sass/skeleton.scss */
  .container .offset-by-two {
    padding-left: 96px; }

  /* line 113, ../sass/skeleton.scss */
  .container .offset-by-three {
    padding-left: 144px; }

  /* line 114, ../sass/skeleton.scss */
  .container .offset-by-four {
    padding-left: 192px; }

  /* line 115, ../sass/skeleton.scss */
  .container .offset-by-five {
    padding-left: 240px; }

  /* line 116, ../sass/skeleton.scss */
  .container .offset-by-six {
    padding-left: 288px; }

  /* line 117, ../sass/skeleton.scss */
  .container .offset-by-seven {
    padding-left: 336px; }

  /* line 118, ../sass/skeleton.scss */
  .container .offset-by-eight {
    padding-left: 384px; }

  /* line 119, ../sass/skeleton.scss */
  .container .offset-by-nine {
    padding-left: 432px; }

  /* line 120, ../sass/skeleton.scss */
  .container .offset-by-ten {
    padding-left: 480px; }

  /* line 121, ../sass/skeleton.scss */
  .container .offset-by-eleven {
    padding-left: 528px; }

  /* line 122, ../sass/skeleton.scss */
  .container .offset-by-twelve {
    padding-left: 576px; }

  /* line 123, ../sass/skeleton.scss */
  .container .offset-by-thirteen {
    padding-left: 624px; }

  /* line 124, ../sass/skeleton.scss */
  .container .offset-by-fourteen {
    padding-left: 672px; }

  /* line 125, ../sass/skeleton.scss */
  .container .offset-by-fifteen {
    padding-left: 720px; } }
/*  #Mobile (Portrait)
================================================== */
/* Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {
  /* line 135, ../sass/skeleton.scss */
  .container {
    width: 300px; }

  /* line 137, ../sass/skeleton.scss */
  .container .columns, .container .column {
    margin: 0; }

  /* line 157, ../sass/skeleton.scss */
  .container .one.column, .container .one.columns, .container .two.columns, .container .three.columns, .container .four.columns, .container .five.columns, .container .six.columns, .container .seven.columns, .container .eight.columns, .container .nine.columns, .container .ten.columns, .container .eleven.columns, .container .twelve.columns, .container .thirteen.columns, .container .fourteen.columns, .container .fifteen.columns, .container .sixteen.columns, .container .one-third.column, .container .two-thirds.column {
    width: 300px; }

  /* Offsets */
  /* line 174, ../sass/skeleton.scss */
  .container .offset-by-one, .container .offset-by-two, .container .offset-by-three, .container .offset-by-four, .container .offset-by-five, .container .offset-by-six, .container .offset-by-seven, .container .offset-by-eight, .container .offset-by-nine, .container .offset-by-ten, .container .offset-by-eleven, .container .offset-by-twelve, .container .offset-by-thirteen, .container .offset-by-fourteen, .container .offset-by-fifteen {
    padding-left: 0; } }
/* #Mobile (Landscape)
================================================== */
/* Note: Design for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  /* line 185, ../sass/skeleton.scss */
  .container {
    width: 420px; }

  /* line 187, ../sass/skeleton.scss */
  .container .columns, .container .column {
    margin: 0; }

  /* line 207, ../sass/skeleton.scss */
  .container .one.column, .container .one.columns, .container .two.columns, .container .three.columns, .container .four.columns, .container .five.columns, .container .six.columns, .container .seven.columns, .container .eight.columns, .container .nine.columns, .container .ten.columns, .container .eleven.columns, .container .twelve.columns, .container .thirteen.columns, .container .fourteen.columns, .container .fifteen.columns, .container .sixteen.columns, .container .one-third.column, .container .two-thirds.column {
    width: 420px; } }
/* #Clearing
================================================== */
/* Self Clearing Goodness */
/* line 215, ../sass/skeleton.scss */
.container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

/* Use clearfix class on parent to clear nested columns,
or wrap each row of columns in a <div class="row"> */
/* line 222, ../sass/skeleton.scss */
.clearfix:before, .clearfix:after, .row:before, .row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

/* line 230, ../sass/skeleton.scss */
.row:after, .clearfix:after {
  clear: both; }

/* line 233, ../sass/skeleton.scss */
.row, .clearfix {
  zoom: 1; }

/* You can also use a <br class="clear" /> to clear columns */
/* line 237, ../sass/skeleton.scss */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }
